//MIXINGS
@mixin flexStyle($position, $enable) {
    display: flex;
    align-items: center;
    @if $enable == 'yes' {
        justify-content: $position;
    }
}

@mixin backBorderStyle($tamaño, $color) {
    border-radius: $tamaño;
    background-color: $color;
}

//MAPS
$redes: (
    facebook-square: $facebook,
    twitter-square: $twitter,
    instagram-square: $instagram,
    youtube: $youtube
);

$modelado: (
    centro: center,
    extremos: space-between,
    alrededor: space-around,
    ninguno: none,
    flexible: flex,
    grilla: grid,
    bloque: block,
    final: flex-end
);