.addCartProducts {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cartProducts__container {
    width: 250px;
}

.productCounterContainer {
    background-color: #dfe6e9;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    span {
        width: 100%;
        text-align: center;
        cursor: pointer;
    }
    .counterContainer__numberOrdered {
        font-size: 30px;
        font-weight: 600;
        border-right: 2px solid rgba(0, 0, 0, 0.2);
        border-left: 2px solid rgba(0, 0, 0, 0.2);
        pointer-events: none;
    }
}

.imageDetails {
    width: 100%;
}

.cartContainer {
    width: 100%;
    padding: 0 15px;
}

.cartTitle {
    color: $dark-color-navbar;
}

.fullInfor__container {
    display: flex !important;
}

.inFoContainer__img {
    width: 25%;
}

.detailsContent__wrapper {
    display: flex;
    align-items: center;
    justify-content: start;
}

.detailsWrapper__category {
    text-transform: capitalize;
}

.detailsWrapper__stockAvailable {
    color: green;
}

.detailsWrapper__stockNotAvailable {
    color: red;
}

.infoContainer__subTotal {
    border-top: 1px solid #b2bec3;
    color: #b2bec3;
}

.finalPriceDetails {
    display: flex;
    align-items: center;
    > i {
        font-size: 25px;
        background-color: $dark-color-navbar;
        color: white;
        padding: 15px;
        border: 1px solid $dark-color-navbar;
        border-radius: 50%;
        margin-right: 14px;
    }
}

.priceDetails__container {
    > p {
        margin: 0;
    }
}

.priceContainer__final {
    color: $dark-color-navbar;
    font-size: 15px;
    font-weight: 500;
}

.priceContainer__total {
    color: $dark-color-navbar;
    font-size: 18px;
    font-weight: 600;
}

.priceContainer__taxes {
    color: $light-color-textCard;
    font-size: 12px;
}

.passangersNumber__paragraph {
    color: $dark-color-navbar !important;
    font-size: 18px;
    font-weight: 500;
}

.subtotalContainer, .taxesContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    > p {
        margin: 0;
    }
}

.subtotalContainer__flights {
    font-size: 14px;
}

.subtotalContainer__subt {
    font-size: 17px;
    color: $dark-color-navbar;
    font-weight: 500;
}

.taxesContainer__taxDetail {
    font-size: 14px;
    color: $light-color-input;
}

.taxesContainer__taxMoney {
    color: $light-color-textCard;
}

.emptyCartContainer__title {
    color: #dfe6e9;
}

.navyColor {
    color: $dark-color-navbar;
}